#root {
    margin: 0;
    text-align: center;
}
.App {
    width: 100%;
}

.App-body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    align-items: center;
    justify-content: space-around;
}
